.body
  width 100%
  height 100%
  position relative
  .slider
    width 100%
    height 100%
    .slider-item
      width 100%
      height 100%
      position relative
      img
        width 100%
        height 100%
        -webkit-filter blur(10px)
        position absolute
        top 0
        left 0
        z-index 9

/**
************    过渡动画
*/
.fade-enter-active,
.fade-leave-active
  transition opacity .9s

.fade-enter,
.fade-leave-to /* .fade-leave-active in below version 2.1.8 */
  opacity 0

.content
  width 100%
  height 100%
  position absolute
  top 0
  left 0
  z-index 10
  display inline-block
  justify-content center
  align-items center
.sign-box
  justify-content center
  height 100%
  align-items center
.sign-content
  background-color #ffffff
.sign-input,
.sign-buttons
  width calc(100% - 20px)
  margin-left 10px
.sign-buttons
  width calc(100% - 20px)
  margin 0 0 10px 10px
  display flex
  flex-direction row-reverse
