@import "../basic"
$btn = (success $green), (danger $red)
for btn in $btn
  .mall-btn-{btn[0]}
    background-color btn[1]
    color $font-light
    &.disabled
      background-color $gray
      color $font-gray
