@import "../basic"
/*
** 重新muse text-filed获取焦点之后的颜色
*/
.mu-text-field
  &.focus-state
    color $green
.mu-text-field-focus-line
  background-color $green
/**
** 重新表格里面的按钮
 */
table
  .table-button
    height 25px
    line-height 25px
    min-width auto
    .mu-raised-button-label
      font-size 12px
      padding 0 10px
