@import "../basic/index.styl"
.body
  width 100%
  height 100%
  position relative
  background-color $bg-light-dark
  .slider
    width 100%
    height 100%
    .slider-item
      width 100%
      height 100%
      position relative
      img
        width 100%
        height 100%
        filter blur(10px)
        position absolute
        top 0
        left 0
        z-index 9
  .content
    width 100%
    height 100%
    position absolute
    top 0
    left 0
    background-color transparent
    z-index 9
    display flex
    align-items center
    justify-content center
    .box
      height 300px
      width 30%
      max-width 30rem
      background-color $bg-light
      box-shadow 0 0 20px $bg-light-dark
      min-width 25rem
      border-radius 5px
      overflow hidden
      .box-header
        width 100%
        height 60px
        background-color $bg-dark-light
        border-top-right-radius 5px
        border-top-left-radius 5px
        box-shadow 0 2px 10px $bg-dark-light
        display flex
        align-items center
        padding 0 20px
        >span.title
          font-size 20px
          color $font-light
      .box-body
        width calc(100% - 20px)
        margin 0 auto
        height 220px
        margin-top 10px
        display flex
        flex-direction column
        .buttons
          width 100%
          flex 1
          display flex
          align-items center
          flex-direction row-reverse

/**
************    过渡动画
*/
.fade-enter-active,
.fade-leave-active
  transition opacity .9s

.fade-enter,
.fade-leave-to /* .fade-leave-active in below version 2.1.8 */
  opacity 0
