@import "../basic"
.navbar-container
  width 100%
  height 50px
  background-color $bg-light-dark
  position relative
  display flex
  .tabs
    flex 1
    height 50px
    overflow-x auto
    align-items center
    display block
    padding-left 20px
    .tab
      display flex
      width auto
      height 25px
      padding-left 10px
      margin 12.5px 10px 0 0
      align-items center
      border 1px solid #666666
      float left
      border-radius 5px
      cursor pointer
      transition all .5s
      .text
        font-size 12px
        color #666666
        transition all .3s
      .icon
        width 25px
        height 25px
        font-size 15px
        display flex
        justify-content center
        color #666666
        font-weight bold
        transition all .5s
      &.active
      &:hover
        border-color #30b08f
        .text
        .icon
          color #30b08f
  .hamburger-icon
    height @height
    padding 0 10px
    font-size 1.5rem
    width 3rem
    color $font-dark
    line-height @height
    cursor pointer
    transform rotate(90deg);
    transition transform 0.3s
    &.mini
      transform rotate(0deg);
  .breadcrumbs
    display flex
    align-items center
    span>a
      color $font-gray
  .user-info
    width auto
    height @height
