// 常规按钮颜色
$blue = #324157
$light-blue = #3A71A8
$red = #C03639
$pink =  #E65D6E
$green =  #30B08F
$tiffany =  #4AB7BD
$yellow = #FEC171
$pan-green =  #30B08F
$gray = #e7e7e7
// 常规按钮颜色
$bg-light = #ffffff
$bg-light-dark = #eef1f6
$bg-dark-light = #324157
$bg-dark-light-hover = #4f698c
$bg-dark = #1f2d3d
$bg-third-menu = #1b2735

// 字体颜色
$font-green = #09bb07
$font-dark = #353535
$font-gray = #888888
$font-blue = #576b59
$font-red  = #e64340
$font-light = #ffffff
$sidebar-font-color = #bfcbd9

// 背景主色
$main-bg-color = $bg-dark-light
// 按钮主色
$main-btn-color = $green
// 页面元素主色
$main-ele-color = $green
